<template>
    <button @click="likes++">Likes: {{ likes }}</button>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
    setup: () => {
        return {
            likes: ref(0),
        };
    },
});
</script>

<style scoped></style>
